.search-input {
  margin-top: 20px;
  margin-left: 20px;
  height: 40px;
  width: 250px;
  border: 2px, solid;
  border-color: purple;
}

.search-title {
  margin-left: 20px;
  margin-bottom: 0px;
  color: purple;
}
