body {
  background-color: antiquewhite;
}

.search-form {
  margin-top: 20px;
  margin-left: 20px;
}

.search-input {
  height: 40px;
  width: 270px;
  border: 2px, solid;

  border-color: purple;
}

.search-label {
  font-weight: bold;
  color: purple;
}
